## Homework

A lo largo del módulo ustedes serán los analistas de datos de una compañía de venta de insumos tecnológicos al público. A lo largo de las prácticas se harán cargo de la información de la empresa y realizarán el proceso completo de captura, limpieza, análisis, diagnóstico, documentación, explotación y publicación de resultados.

La Dirección de Ventas ha solicitado las siguientes tablas a Marketing con el fin de que sean integradas:

* La tabla de puntos de venta propios, un Excel frecuentemente utilizado para contactar a cada sucursal, actualizada en 2021.

In [1]:
import numpy as np
import pymysql, csv
import pandas as pd
from Pass_SQL import contraseña

In [2]:
conexion = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = contraseña(),
    port = 3306,
)
cursor = conexion.cursor()

In [ ]:
query = 'CREATE database Empresa;'
cursor.execute(query)
conexion.commit()

In [4]:
query = 'Use Empresa;'
cursor.execute(query)
conexion.commit()

In [ ]:
query = 'Drop Table sucursal;'
cursor.execute(query)
conexion.commit()

In [ ]:
query = '''CREATE Table Sucursal (
           ID int,
           Sucursal varchar(20),
           Direccion varchar(50),
           Localidad varchar(25),
           Provincia varchar(25),
           Latitud varchar(12),
           Longitud varchar(12)
           );'''
cursor.execute(query)
conexion.commit()

In [ ]:
with open(r'Homework\Sucursales.csv', 'r', encoding='utf-8') as archivo:
    archivo = csv.reader(archivo,delimiter=';')
    next(archivo)
    lista = [tuple(linea) for linea in archivo]

In [ ]:
query = '''INSERT INTO Sucursal (ID,Sucursal,Direccion,Localidad,Provincia,Latitud,Longitud)
           VALUES (%s, %s, %s, %s, %s, %s, %s)'''
cursor.executemany(query, lista)
conexion.commit()

In [5]:
query = 'drop table Canal'
cursor.execute(query)
conexion.commit()

In [6]:
query = '''CREATE Table Canal (
           CODIGO int,
           DESCRIPCION varchar(20)
           );'''
cursor.execute(query)
conexion.commit()

In [7]:
archivo = pd.read_excel(r'Homework\Canaldeventa.xlsx')
archivo.replace(np.NaN, "", inplace=True)
lista = [tuple(archivo.loc[fila]) for fila in range(len(archivo))]

In [8]:
query = '''INSERT INTO Canal (CODIGO,DESCRIPCION)
           VALUES (%s, %s)'''
cursor.executemany(query, lista)
conexion.commit()

* La tabla de empleados, un Excel mantenido por el personal administrativo de RRHH.

In [9]:
query = 'Drop Table Empleado;'
cursor.execute(query)
conexion.commit()

In [10]:
query = '''CREATE Table Empleado (
           ID_empleado int,
           Apellido varchar(20),
           Nombre varchar(20),
           Sucursal varchar(25),
           Sector varchar(20),
           Cargo varchar(25),
           Salario decimal(10,2)
           );'''
cursor.execute(query)
conexion.commit()

In [11]:
archivo = pd.read_excel(r'Homework\Empleados.xls')
archivo.replace(np.NaN, "", inplace=True)
lista = [tuple(archivo.loc[fila]) for fila in range(len(archivo))]

In [12]:
query = '''INSERT INTO Empleado (ID_empleado,Apellido,Nombre,Sucursal,Sector,Cargo,Salario)
           VALUES (%s, %s, %s, %s, %s, %s, %s)'''
cursor.executemany(query, lista)
conexion.commit()

* La tabla de proveedores, un Excel mantenido por un analista de otra dirección que ya no esta en la empresa.

In [13]:
query = 'drop table Proveedor'
cursor.execute(query)
conexion.commit()

In [14]:
query = '''CREATE Table Proveedor (
           IDProveedor int,
           Nombre varchar(30),
           Adress varchar(35),
           City varchar(30),
           State varchar(25),
           Country varchar(20),
           departamen varchar(20)
           );'''
cursor.execute(query)
conexion.commit()

In [15]:
archivo = pd.read_excel(r'Homework\Proveedores.xlsx')
archivo.replace(np.NaN, "", inplace=True)
lista = [tuple(archivo.loc[fila]) for fila in range(len(archivo))]

In [16]:
query = '''INSERT INTO Proveedor (IDProveedor,Nombre,Adress,City,State,Country,departamen)
           VALUES (%s, %s, %s, %s, %s, %s, %s)'''
cursor.executemany(query, lista)
conexion.commit()

* La tabla de clientes, alojada en el CRM de la empresa.

In [10]:
query = 'drop table Cliente'
cursor.execute(query)
conexion.commit()

In [11]:
query = '''CREATE Table Cliente (
           ID int,
           Provincia varchar(25),
           Nombre_y_Apellido varchar(60),
           Domicilio varchar(120),
           Telefono varchar(25),
           Edad int,
           Localidad varchar(100),
           X varchar(12),
           Y varchar(12),
           col10 varchar(5)
           );'''
cursor.execute(query)
conexion.commit()

In [12]:
with open(r'Homework\Clientes.csv', 'r', encoding='utf-8') as archivo:
    archivo = csv.reader(archivo,delimiter=';')
    next(archivo)
    lista = [tuple(linea) for linea in archivo]

In [13]:
query = '''INSERT INTO Cliente (ID,Provincia,Nombre_y_Apellido,Domicilio,Telefono,Edad,Localidad,X,Y,col10)
           VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
cursor.executemany(query, lista)
conexion.commit()

* La tabla de productos, un Excel mantenido por otro analista.

In [17]:
query = 'drop table Producto'
cursor.execute(query)
conexion.commit()

In [18]:
query = '''CREATE Table Producto (
           ID_PRODUCTO int,
           Concepto varchar(125),
           Tipo varchar(20),
           Precio varchar(20)
           );'''
cursor.execute(query)
conexion.commit()

In [19]:
archivo = pd.read_excel(r'Homework\PRODUCTOS.xlsx')
archivo.replace(np.NaN, "", inplace=True)
lista = [tuple(archivo.loc[fila]) for fila in range(len(archivo))]

In [20]:
query = '''INSERT INTO Producto (ID_PRODUCTO,Concepto,Tipo,Precio)
           VALUES (%s, %s, %s, %s)'''
cursor.executemany(query, lista)
conexion.commit()

* Las tablas de ventas, gastos y compras, tres archivos CSV generados a partir del sistema transaccional de la empresa.

In [126]:
query = 'drop table Venta'
cursor.execute(query)
conexion.commit()

In [127]:
query = '''CREATE Table Venta (
           IdVenta int,
           Fecha date,
           Fecha_Entrega date,
           IdCanal int,
           IdCliente int,
           IdSucursal int,
           IdEmpleado int,
           IdProducto int,
           Precio varchar(10),
           Cantidad varchar(10)
           );'''
cursor.execute(query)
conexion.commit()

In [121]:
with open(r'Homework\Venta.csv', 'r', encoding='utf-8') as archivo:
    archivo = csv.reader(archivo,delimiter=',')
    next(archivo)
    lista = [tuple(linea) for linea in archivo]

In [128]:
query = '''INSERT INTO Venta (IdVenta,Fecha,Fecha_Entrega,IdCanal,IdCliente,IdSucursal,IdEmpleado,IdProducto,Precio,Cantidad)
           VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
cursor.executemany(query, lista)
conexion.commit()

In [26]:
query = 'drop table Gasto'
cursor.execute(query)
conexion.commit()

In [27]:
query = '''CREATE Table Gasto (
           IdGasto int,
           IdSucursal int,
           IdTipoGasto int,
           Fecha date,
           Monto decimal(10,2)
           );'''
cursor.execute(query)
conexion.commit()

In [28]:
with open(r'Homework\Gasto.csv', 'r', encoding='utf-8') as archivo:
    archivo = csv.reader(archivo,delimiter=',')
    next(archivo)
    lista = [tuple(linea) for linea in archivo]

In [29]:
query = '''INSERT INTO Gasto (IdGasto,IdSucursal,IdTipoGasto,Fecha,Monto)
           VALUES (%s, %s, %s, %s, %s)'''
cursor.executemany(query, lista)
conexion.commit()

In [22]:
query = 'drop table Compra'
cursor.execute(query)
conexion.commit()

In [23]:
query = '''CREATE Table Compra (
           IdCompra int,
           Fecha date,
           IdProducto int,
           Cantidad int,
           Precio decimal(10,2),
           IdProveedor int
           );'''
cursor.execute(query)
conexion.commit()

In [24]:
with open(r'Homework\Compra.csv', 'r', encoding='utf-8') as archivo:
    archivo = csv.reader(archivo,delimiter=',')
    next(archivo)
    lista = [tuple(linea) for linea in archivo]

In [25]:
query = '''INSERT INTO Compra (IdCompra,Fecha,IdProducto,Cantidad,Precio,IdProveedor)
           VALUES (%s, %s, %s, %s, %s, %s)'''
cursor.executemany(query, lista)
conexion.commit()

In [ ]:
query = 'drop table Tipo_Gasto'
cursor.execute(query)
conexion.commit()

In [7]:
query = '''CREATE Table Tipo_Gasto (
           IdTipoGasto int,
           Descripcion varchar(20),
           Monto_Aproximado int
           );'''
cursor.execute(query)
conexion.commit()

In [8]:
with open(r'Homework\TiposDeGasto.csv', 'r', encoding='utf-8') as archivo:
    archivo = csv.reader(archivo,delimiter=',')
    next(archivo)
    lista = [tuple(linea) for linea in archivo]

In [9]:
query = '''INSERT INTO Tipo_Gasto (IdTipoGasto,Descripcion,Monto_Aproximado)
           VALUES (%s, %s, %s)'''
cursor.executemany(query, lista)
conexion.commit()

In [21]:
conexion.close()